{% extends 'base.html' %}
{% block content %}
<h1>Your Friends</h1>
{% if friends %}
  <ul class="list-group">
    {% for friend in friends %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ friend.user.username }}</span>
        <a href="{% url 'public_wishlist' friend.share_token %}" class="btn btn-sm btn-outline-primary">View Wishlist</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>You have no friends added yet.</p>
{% endif %}
{% endblock %}